body { 
  margin: 0;
  padding: 0;
  font-family: "lato";
}
  .content { 
    
    background: linear-gradient(to bottom, #ff0066, #990099, #f06, #990099, #ff0066, #990099);
  }
  .title {
    font-size: 280px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: rgba(255,255,255,0.9);
    text-shadow: 3px 3px 0 rgba(0,0,0,0.3);
  }
  .title .sub,
  .title .pre { 
    font-size: 36px;
    margin: 0;
    display: block;
    text-transform: uppercase;
    color: rgba(0,0,0,0.3);
    text-shadow: none;
  }
section { 
  height: 100%;
  display: block;
  padding-top:275px;
}
section { 
  height: 100%;
  display: block;
  padding-top:275px;
}section.bg_test { 
  background: url('https://s3-eu-west-1.amazonaws.com/prez-shared-data/Images/21179.jpg');
  background-size: cover;
}